/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the 
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";

.action-bar {
    background-color: #ffffff;
}

.page {
    padding: 6;
}

.color1 {
    color: #992f8e;
}
.color2 {
    color: #28a856;
}
.color3 {
    color: #eba934;
}
.color4 {
    color: #1173b7;
}
.color5 {
    color: #253679;
}
.color6 {
    color: #992f8e;
}


.bg1 {
    background-color: #992f8e;
}
.bg2 {
    background-color: #28a856;
}
.bg3 {
    background-color: #eba934;
}
.bg4 {
    background-color: #1173b7;
}
.bg5 {
    background-color: #253679;
}
.bg6 {
    background-color: #992f8e;
}

.li {
    font-size: 16;
    height: 80;
}

.footnote {
    color: rgb(55, 94, 119);
    border-top-color: gray;
    border-top-width: 1;
    margin-top: 20;
}
